body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Delius";
}

.game_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #2a7b9b;
  background: linear-gradient(
    129deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(12, 33, 67, 1) 0%,
    rgba(50, 12, 36, 1) 100%
  );
  width: 100%;
  height: 100vh;

  h1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
    font-size: 50px;
  }
  .waiting {
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
  }

  .waiting_start {
    height: 100px;
    width: 350px;
    padding: 0;
    font-size: 30px;
    font-family: "Delius";
    border-radius: 10px;
    margin-top: 50px;
    transition: transform 0.8s ease;

    &:hover {
      background-color: #4a5e5f;
      color: #f8f5ee;
      transform: scale(1.2);
    }
  }
  .enter_name {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 600px;

    input {
      border: 0;
      border-radius: 10px;
      height: 100%;
      width: calc(65% - 40px);
      padding: 0 0 0 40px;
      font-size: 24px;
      font-family: "Delius";
      font-weight: 600;
    }

    button {
      border: 0;
      font-size: 24px;
      font-family: "Delius";
      font-weight: 600;
      border-radius: 10px;
      padding: 0;
      height: 100%;
      width: 30%;
      transition: transform 0.8s ease;

      &:hover {
        background-color: #4a5e5f;
        color: #f8f5ee;
        transform: scale(1.2);
      }
    }
  }

  .players_connected {
    h2 {
      font-size: 54px;
    }

    ol {
      list-style-type: none;

      li {
        font-size: 30px;
        margin-top: 10px;
      }
    }
  }
  .playing_clip {
    video {
      border: 3px solid white;
      border-radius: 30px;
      max-height: 500px;
      max-width: 1000px;
      width: auto;
      margin-bottom: 50px;
    }
  }
  .recording {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 900px;

    video {
      border: 3px solid white;
      border-radius: 30px;
      max-height: 500px;
      max-width: 1000px;
      width: auto;
      margin-bottom: 50px;
    }
    .record_button {
      height: 120px;
      width: 120px;
      border-radius: 75px;
      padding: 0;
      border: 0;
      background-color: rgb(8, 224, 37);
      transition: transform 0.8s ease;

      &:hover {
        transform: scale(1.2);
      }

      img {
        width: 50px;
      }
    }

    .recording_container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 90%;

      .progress_bar_container {
        width: 100%;
        margin-bottom: 50px;
        height: 10px;
        background-color: #eee;
        border-radius: 5px;
        overflow: hidden;

        .progress_bar_bg {
          width: 100%;
          height: 100%;
          background-color: #ccc;
          border-radius: 5px;
          position: relative;

          .progress_bar {
            height: 100%;
            background-color: #007bff;
            transition: width 0.1s linear;
          }
        }
      }

      .buttons_container {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .cancel_button {
          height: 50px;
          width: 50px;
          border-radius: 25px;
          padding: 0;
          border: 0;
          background-color: rgb(224, 101, 70);
          transition: transform 0.8s ease;

          &:hover {
            transform: scale(1.2);
          }

          img {
            margin-top: 3px;
            width: 40px;
          }
        }

        .end_record_btn {
          height: 50px;
          width: 50px;
          border-radius: 25px;
          padding: 0;
          border: 0;
          background-color: rgb(8, 224, 37);
          transition: transform 0.8s ease;

          &:hover {
            transform: scale(1.2);
          }

          img {
            margin-top: 3px;
            width: 30px;
          }
        }
      }
    }

    .recorded_audio {
      height: 150px;
      width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .buttons_container {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10px;

        .validate_btn {
          width: 40%;
          border-radius: 5px;
          border: 0;
          background-color: rgb(8, 224, 37);
          transition: transform 0.8s ease;
          font-family: "Delius";
          font-size: 20px;

          &:hover {
            transform: scale(1.2);
          }
        }

        .discard_btn {
          width: 40%;
          border-radius: 5px;
          border: 0;
          background-color: rgb(224, 101, 70);
          transition: transform 0.8s ease;
          font-family: "Delius";
          font-size: 20px;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  .listen_btn {
    height: 100px;
    width: 450px;
    padding: 0;
    font-size: 30px;
    font-family: "Delius";
    border-radius: 10px;
    margin-top: 50px;
    transition: transform 0.8s ease;

    &:hover {
      background-color: #4a5e5f;
      color: #f8f5ee;
      transform: scale(1.2);
    }
  }

  .voting {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 900px;
    margin-top: -100px;

    p {
      font-size: 36px;
    }

    video {
      border: 3px solid white;
      border-radius: 30px;
      max-height: 400px;
      max-width: 1000px;
      width: auto;
      margin-bottom: 50px;
    }

    .rating_container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        height: 60px;
        width: 60px;
        border-radius: 10px;
        font-family: "Delius";
        font-size: 34px;
      }

      button[data-id="-1"] {
        transition: transform 0.8s ease;

        &:hover {
          background-color: rgb(224, 101, 70);
          color: #f8f5ee;
          transform: scale(1.2);
        }
      }

      button[data-id="1"] {
        transition: transform 0.8s ease;

        &:hover {
          background-color: rgb(53, 47, 65);
          color: #f8f5ee;
          transform: scale(1.2);
        }
      }

      button[data-id="2"] {
        transition: transform 0.8s ease;

        &:hover {
          background-color: rgb(15, 247, 73);
          transform: scale(1.2);
        }
      }
    }
  }

  .voting_done {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      height: 100px;
      width: 400px;
      padding: 0;
      font-size: 30px;
      font-family: "Delius";
      border-radius: 10px;
      margin-top: 50px;
      transition: transform 0.8s ease;

      &:hover {
        background-color: #4a5e5f;
        color: #f8f5ee;
        transform: scale(1.2);
      }
    }
  }
  .scoreboard {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: 200px;
    background-color: #4a5e5f;
    padding: 40px 40px 10px 40px;
    border-radius: 25px;

    h2 {
      font-size: 44px;
      margin: 0 0 50px 0;
    }

    .player {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 60px;
      text-align: left;
      font-size: 24px;
    }
  }

  .final_scoreboard {
    height: auto;
    width: 450px;
    background-color: #4a5e5f;
    padding: 40px 40px 10px 40px;
    border-radius: 25px;

    h2 {
      font-size: 44px;
      margin: 0 0 50px 0;
    }

    .player {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 60px;
      text-align: left;
      font-size: 24px;
    }
  }
}
